     properti computed membuat perubahan data menjadi real time
      <div id="app">
         <input type="number" v-model="angka1">
         <input type="number" v-model="angka2">
         <h2>{{jumlah}}</h2>           
      </div>


<script>
   var tes = new Vue({ 
      el : '#app',
      data : {
         angka1 : 5,
         angka2 : 5,           
      },
      computed: {
         jumlah : function(){
            return this.angka1 + this.angka2;
         }
      }
   })
</script>

/////
